@import '~antd/dist/antd.css';

.Template {
  text-align: left;
}

.Template-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Template-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Template-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Template-link {
  color: #61dafb;
}

@keyframes Template-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
